{% extends "userend/base.html" %}
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-end">
			<div class="col-md-9 ftco-animate pb-5">
				<p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i
								class="fa fa-chevron-right"></i></a></span> <span>Team <i
							class="fa fa-chevron-right"></i></span></p>
				<h1 class="mb-0 bread">Our Experts Chiropractor</h1>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row no-gutters justify-content-center pb-5 mb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Team &amp; Staff</span>
				<h2>Our Experts </h2>
			</div>
		</div>
		<div class="row">
			{% for i in staffs %}
			<div class="col-md-4 ftco-animate d-flex">
				<div class="staff bg-primary">
					<div class="img-wrap d-flex align-items-stretch">
						<div class="img align-self-stretch" style="background-image: url('/media/staff/profiles/{{i.profile_photo}}');"></div>
					</div>
					<div class="text pt-3 px-3 pb-4 text-center">
						<h3>{{i.first_name}} {{i.last_name}}</h3>
						<span class="position mb-2">{{i.category}}</span>
						<div class="faded">
							<span> 
									<form method="post" action="{% url "bookVisit" %}"> 
										{% csrf_token %}
										<input type="hidden" name="staff" value="{{i.email}}" />
										<button type="submit" class="btn btn-md btn-info">Book Visit </button>
									</form>
							</span>
							<ul class="ftco-social text-center">
								<li class="ftco-animate"><a href="#"
										class="d-flex align-items-center justify-content-center"><span
											class="fa fa-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"
										class="d-flex align-items-center justify-content-center"><span
											class="fa fa-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"
										class="d-flex align-items-center justify-content-center"><span
											class="fa fa-google"></span></a></li>
								<li class="ftco-animate"><a href="#"
										class="d-flex align-items-center justify-content-center"><span
											class="fa fa-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			{% endfor %}
		</div>
	</div>
</section>
{% endblock content %}