{% extends "index.html" %}
{% block title %} Dashboard{% endblock title %}
{%block content %}
<div class="main--content">
	<div class="overview">
		<div class="cards">
			<div class="card card-1">
				<div class="card--data">
					<div class="card--content">
						<h5 class="card--title">Total Staff</h5>
						<h1 class="text-dark text-center mx-5 my-4 ">{{ staff_count}}</h1>
					</div>
					<i class="ri-user-2-line card--icon--lg"></i>
				</div>
			</div>
			<div class="card card-2">
				<div class="card--data">
					<div class="card--content">
						<h5 class="card--title">Total Users <br />Logged In</h5>
						<h1 class="text-dark text-center mx-5 my-4">{{ user_count }}</h1>
					</div>
					<i class="ri-user-line card--icon--lg"></i>
				</div>
			</div>
			<div class="card card-3">
				<div class="card--data">
					<div class="card--content">
						<h5 class="card--title">Schedule</h5>
						<h1>102</h1>
					</div>
					<i class="ri-calendar-2-line card--icon--lg"></i>
				</div>
				<div class="card--stats">
					<span
						><i class="ri-bar-chart-fill card--icon stat--icon"></i>27%</span
					>
					<span><i class="ri-arrow-up-s-fill card--icon up--arrow"></i>31</span>
					<span
						><i class="ri-arrow-down-s-fill card--icon down--arrow"></i>23</span
					>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="doctors">
		<div class="title">
			<h2 class="section--title">Doctors</h2>
			<div class="doctors--right--btns">
				<select name="date" id="date" class="dropdown doctor--filter">
					<option>Filter</option>
					<option value="free">Free</option>
					<option value="scheduled">Scheduled</option>
				</select>
				<button class="add"><i class="ri-add-line"></i>Add Doctor</button>
			</div>
		</div>
		<div class="doctors--cards">
			<a href="#" class="doctor--card">
				<div class="img--box--cover">
					<div class="img--box">
						<img src="assets/images/doctor1.jpg" alt="" />
					</div>
				</div>
				<p class="free">Free</p>
			</a>
			<a href="#" class="doctor--card">
				<div class="img--box--cover">
					<div class="img--box">
						<img src="assets/images/doctor2.jpg" alt="" />
					</div>
				</div>
				<p class="scheduled">Scheduled</p>
			</a>
			<a href="#" class="doctor--card">
				<div class="img--box--cover">
					<div class="img--box">
						<img src="assets/images/doctor3.jpg" alt="" />
					</div>
				</div>
				<p class="scheduled">Scheduled</p>
			</a>
			<a href="#" class="doctor--card">
				<div class="img--box--cover">
					<div class="img--box">
						<img src="assets/images/doctor4.jpg" alt="" />
					</div>
				</div>
				<p class="free">Free</p>
			</a>
			<a href="#" class="doctor--card">
				<div class="img--box--cover">
					<div class="img--box">
						<img src="assets/images/doctor5.jpg" alt="" />
					</div>
				</div>
				<p class="scheduled">Scheduled</p>
			</a>
			<a href="#" class="doctor--card">
				<div class="img--box--cover">
					<div class="img--box">
						<img src="assets/images/doctor6.jpg" alt="" />
					</div>
				</div>
				<p class="free">Free</p>
			</a>
			<a href="#" class="doctor--card">
				<div class="img--box--cover">
					<div class="img--box">
						<img src="assets/images/doctor7.jpg" alt="" />
					</div>
				</div>
				<p class="scheduled">Scheduled</p>
			</a>
		</div>
	</div> -->
	<div class="recent--patients">
		<div class="title">
			<h1 class="section--title text-info ">Users of the system</h1>
			{% comment %} <button class="add"><i class="ri-add-line"></i>Add Doctor</button> {% endcomment %}
		</div>
		<div class="table">
			<table class="table table-hover table-striped">
				<caption> Users</caption>
				<thead class="table-dark">
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Phone</th>
						<th>DOB</th>
						<th>Pincode</th>
						<th>Location</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
					<tr>
						<td>{{ user.first_name }} {{user.last_name}}</td>
						<td>{{user.email}}</td>
						<td>{{user.phone}}</td>
						<td>{{user.dob}}</td>
						<td>{{user.pincode}}</td>
						<td>{{user.state}} , {{user.city}}</td>
						<td>
							<form action="{% url "del_user" user.id %}" method="get">
								{% csrf_token %}
									<button type="submit" class="btn btn-md btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">
										<i class="fas fa-trash fa-lg"></i>	
									</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock content %}
