{% extends "index.html" %}
{% block title %}Services {% endblock title %}
{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Services</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-3">
            <table class="table align-items-center mb-0 table-hover table-stripped">
              <thead class="table-light text-center">
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>charge</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="text-center">
                {% for item in services %}
                <tr class="">
                  <td>{{ item.name }}</td>
                  <td>{{ item.type }}</td>
                  <td>{{ item.charge }} </td>
                  <td>
                    <div class="d-flex justify-content-center">

                      <form action="{% url "delete_service" item.id %}" method="get" class="">
                        {% csrf_token %}
                        <button type="submit" class="text-white bg-danger border-0 rounded mx-2"
                          onclick="return confirm('Are you sure you want to delete this item?');">
                          <i class="fas fa-trash-can"></i>
                        </button>
                      </form>
                      <button type="button" class="text-white bg-info border-0 rounded" data-toggle="modal"
                        data-target="#exampleModal1{{ item.id }}">
                        <i class="fas fa-pen-nib"></i>
                      </button>
                      <div class="modal fade" id="exampleModal1{{ item.id }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h3 class="modal-title text-danger text-center" id="exampleModalLabel">Fill the Form</h3>
                              <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body p-3">
                              <form method="post" action="{% url "update_service" item.name %}">
                                {% csrf_token %}

                                <input type="hidden" value="{{ item.id }}" name="id">

                                <!-- Text input -->
                                <div class="form-outline mb-4">
                                  <input type="text" id="form6Example3" class="form-control" name="name"
                                    value="{{ item.name }}" />
                                  <label class="form-label" for="form6Example3">Name</label>
                                </div>

                                <!-- Text input -->
                                <div class="form-outline mb-4">
                                  <input type="text" id="form6Example4" class="form-control" name="type"
                                    value="{{ item.type }}" />
                                  <label class="form-label" for="form6Example4">Type</label>
                                </div>

                                <!-- Number input -->
                                <div class="form-outline mb-4">
                                  <input type="text" id="form6Example6" class="form-control"
                                    value="{{ item.charge }}" name="charge" />
                                  <label class="form-label" for="form6Example6">charge</label>
                                </div>

                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-success">Update</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                      </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% comment %} Control button panel {% endcomment %}
            <div class="d-flex p-1 justify-content-left  my-2 border-rounded">
              <a href="{% url "download_labtest_data" %}">
                <button class="btn btn-sm btn-success mx-2" type="button">
                  <i class="ri-add-line"></i>Download
                </button>
              </a><button class="btn btn-sm btn-danger mx-2" type="button" data-mdb-toggle="modal"
                data-mdb-target="#exampleModal3">
                <i class="ri-add-line"></i>Upload
              </button>
              <!-- Modal to add staff by excel-->
              <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title text-danger text-center" id="exampleModalLabel">EXCEL UPLOAD</h3>
                      <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3">
                      <form method="post" action="{% url "upload_file_labtest" %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label class="form-label" for="form6Example6"> SELECT THE FILE</label>
                        <div class="form-outline mb-4">
                          <input type="file" id="form6Example6" class="form-control" name="xlsxfile" />
                        </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-success">Create</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>

              <button class="btn btn-sm btn-info" type="button" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
                <i class="ri-add-line"></i>Add
              </button>

              <!-- Modal Create-->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title text-danger text-center" id="exampleModalLabel">Fill the Form</h3>
                      <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3">
                      <form method="post" action="{% url "add_services" %}">
                        {% csrf_token %}

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                          <input type="text" id="form6Example3" class="form-control" name="name" />
                          <label class="form-label" for="form6Example3">Name</label>
                        </div>

                        <!-- Text input -->
                        <div class="form-outline mb-4">
                          <input type="text" id="form6Example4" class="form-control" name="type" />
                          <label class="form-label" for="form6Example4">Type</label>
                        </div>

                        <div class="form-outline mb-4">
                          <input type="number" id="form6Example5" class="form-control" name="charge" />
                          <label class="form-label" for="form6Example5">Charges </label>
                        </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-success">Add</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}