{% extends "index.html" %}
{% block title %}Staff Control{% endblock title %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Staff Panel</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="p-3">
              <table class="table align-middle mb-0 table-hover ">
                <thead class="table-light text-center">
                  <tr>
                    <th>Sr.</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Photo</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class="text-center">
					{% for user in staff %}
					<tr class="text-center">
						<td>{{forloop.counter}}</td>
						<td>{{ user.first_name }} {{user.last_name}}</td>
						<td>{{user.email}}</td>
						<td>{{user.phone}}</td>
						<td>{{user.category}}</td>
						<td>{{user.status}}</td>
						<td> <img src="/media/staff/profiles/{{user.profile_photo}}" width="100px" height="100px" class="img img-thumbnail" alt="Not set"> </td>
						<td class="d-flex text-center">
							<form action="{% url "del_staff" user.id %}" method="post">
								{% csrf_token %}
									<button type="submit" class="text-white bg-danger border-0 rounded" onclick="return confirm('Are you sure you want to delete this ?');"><i class="fa-solid fa-trash" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;"></i>
									</button>
							</form>
              <form action="{% url "view_staff" %}" method="post">
								{% csrf_token %}
                <input type="hidden" name="id" value="{{user.id}}"> 
									<button type="submit" class="text-white bg-secondary border-0 rounded mx-2">
                    View
									</button>
							</form>
              {% if user.status == 'PENDING' %}
              <form action="{% url "updatestaff" %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{user.id}}"> 
                <button type="submit" class="text-white bg-success border-0 rounded">
                  Enable
                </button>
							</form>
              {% else  %}
              <form action="{% url "updatestaff" %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{user.id}}"> 
                <button type="submit" class="text-white bg-success border-0 rounded">
                  Disable
                </button>
							</form>
              {% endif %}
            </td>
					</tr>
					{% endfor %}
				</tbody>
              </table>
              {% comment %} Control button panel {% endcomment %}
              <div class="d-flex p-1 justify-content-left  my-2 border-rounded">
                    <button class="btn btn-sm btn-success mx-2" type="button" >
                        <i class="ri-add-line"></i> <a href="{% url "download_staff_data" %}">Download </a>
                    </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}